  
        <div class='col-12' width="60%">  
            <ngb-carousel>  
                <ng-template ngbSlide>  
                    <img src="../assets/images/banner1.jpg" width="100%" alt="Delhi Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: black">Product 1</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/images/banner2.jpg" width="100%" alt="Bangalore Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: black">Product 2</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/images/banner3.jpg" width="100%" alt="Channai Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: black">Product 3</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/images/banner4.jpg" width="100%" alt="Jaipur Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: black">Product 3</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/images/banner5.jpg" width="100%" alt="Mumbai Metro">  
                    <div class="carousel-caption">  
                        <h3 style="color: black">Product 5</h3>  
                    </div>  
                </ng-template>  
            </ngb-carousel>  

            <h1 class="text-center" style="color: coral;" >Welcome in our new store</h1>
        </div>  


<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/friend" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-product-hunt"></i></span>
            <br>
            Products
            </a>
        </div>
        <div class="col-sm">
            <a href="/friend"
            role="button"
            class="btn btn-outline-primary btn-lg btn-block text-center">
           <span><i class="fa fa-tablet"></i></span>
           <br>
           tablet
         </a>
        </div>
        <div class="col-sm">
            <a href="/friend"
            role="button"
            class="btn btn-outline-primary btn-lg btn-block text-center">
           <span><i class="fa fa-users"></i></span>
           <br>
           Friends
         </a>
        </div>


        <div class="col-sm">
            <a href="/friend"
            role="button"
            class="btn btn-outline-primary btn-lg btn-block text-center">
           <span><i class="fa fa-phone"></i></span>
           <br>
           Phone
         </a>
        </div>
    </div>



    <div class="row ml-5">

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img  width="200px" height="160px" 
                src="/assets/images/tablet.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cute Horse</h5>
                  <p class="card-text">Some quick example text's content.</p>
                  <a href="#" class="btn btn-primary">View product</a>
                </div>
              </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img  width="200px" height="160px" 
                src="/assets/images/camera.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cute Horse</h5>
                  <p class="card-text">Some quick example text's content.</p>
                  <a href="#" class="btn btn-primary">View product</a>
                </div>
              </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img  width="200px" height="160px" 
                src="/assets/images/tablet.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cute Horse</h5>
                  <p class="card-text">Some quick example text's content.</p>
                  <a href="#" class="btn btn-primary">View product</a>
                </div>
              </div>
        </div>
       
    </div>


</div>
<app-products></app-products>

