body {
  background: rgb(41, 39, 39)
}

.ratings i {
  font-size: 16px;
  color: red
}

.strike-text {
  color: red;
  text-decoration: line-through
}

.product-image {
  width: 100%
}

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block
}

.spec-1 {
  color: #938787;
  font-size: 15px
}

h5 {
  font-weight: 400
}

.para {
  font-size: 16px
}



/*product list*/

.prod-cat li a {
  border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
  color: #3b3b3b;
}

.prod-cat li ul {
  margin-left: 30px;
}

.prod-cat li ul li a {
  border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
  background: none;
  color: #ff7261;
}

.pro-lab {
  margin-right: 20px;
  font-weight: normal;
}

.pro-sort {
  padding-right: 20px;
  float: left;
}

.pro-page-list {
  margin: 5px 0 0 0;
}

.product-list img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
  position: relative;
}

.adtocart {
  background: #fc5959;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  left: 45%;
  bottom: -25px;
  position: absolute;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}

.pro-title {
  color: #5A5A5A;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.product-list .price {
  color: #fc5959;
  font-size: 15px;
}

.pro-img-details {
  margin-left: -15px;
}

.pro-img-details img {
  width: 100%;
}

.pro-d-title {
  font-size: 16px;
  margin-top: 0;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}

.product_meta a,
.pro-price {
  color: #fc5959;
}

.pro-price,
.amount-old {
  font-size: 18px;
  padding: 0 10px;
}

.amount-old {
  text-decoration: line-through;
}

.quantity {
  width: 120px;
}

.pro-img-list {
  margin: 10px 0 0 -15px;
  width: 100%;
  display: inline-block;
}

.pro-img-list a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pro-d-head {
  font-size: 18px;
  font-weight: 300;
}




.card {
  width: 350px;
  border: none;
  height: 350px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden
}

.p-info {
  display: flex;
  justify-content: space-between
}

.p-price {
  position: absolute;
  right: 10px;
  top: 20px;
color: red;
}

.heart i {
  font-size: 50px;
  opacity: 0;
  color: red
}

.heart i:hover {
  color: red
}

.p-image img {
  width: 240px;
  transform: rotate(15deg)
}

.card:hover .heart i {
  animation: heart 300ms ease-in forwards;
  animation-delay: 500ms
}

.p-about {
  position: absolute;
  width: 170px;
  font-size: 10px;
  top: 140px;
  left: -125px;
  opacity: 0
}

.card:hover .p-about {
  animation: content 300ms ease-in forwards
}

@keyframes content {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1;
    left: 25px
  }
}

@keyframes heart {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.card:hover .p-image img {
  animation: onimage 300ms ease-in forwards
}

.card:hover .p-price {
  animation: onprice 500ms ease-in forwards
}

@keyframes onprice {
  0% {
    right: 10px;
    top: 20px
  }

  50% {
    right: 60px;
    top: 30px
  }

  100% {
    right: 185px;
    top: 70px
  }
}

@keyframes onimage {
  0% {
    width: 250px
  }

  50% {
    width: 200px;
    transform: translateY(-30px);
    transform: translateX(100px)
  }

  100% {
    width: 180px;
    top: 100px;
    transform: translateY(100px);
    transform: translateX(110px)
  }
}

.buttons {
  position: absolute;
  bottom: -150px
}

.card:hover .buttons {
  animation: buttons 500ms ease-in forwards
}

@keyframes buttons {
  0% {
    bottom: -100px
  }

  100% {
    bottom: 20px
  }
}

.btn {
  height: 50px;
  font-size: 16px;
  width: 140px !important;
  font-weight: 600
}
